$grey050: #f9f8fa;
$grey100: #f1f3f4;
$grey200: #e8eaed;
$grey300: #dadce0;
$grey400: #bdc1c6;
$grey500: #9aa0a6;
$grey600: #80868b;
$grey700: #5f6368;
$grey800: #3c4043;
$blue-med: #4285f4;
$green-med: #34a853;
$green-dark: #137333;
$yellow-med: #fbbc04;
$red-dark: #b31412;

body {
  background: lightblue;
}
